@import url(./styles/container/quiz.css);
@import url(./styles/ui/animated.globe.css);
@import url(./styles/container/text_secondbtn.css);

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 76vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    padding: 5% 10%; 
    box-sizing: border-box;
}

footer {
    width: 100%;
    height: 12vh;
    background-color: rgba(240, 248, 255, 0.329);
    box-sizing: border-box;
}
