@import url(./styles/container/quiz.css);
@import url(./styles/ui/animated.globe.css);
@import url(./styles/container/text_secondbtn.css);

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main {
    width: 100%;
    min-height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/torre-2.webp');
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}