.TextBtn {
  background: none;        
  border: none;            
  padding: 0;              
  color: #0645AD;          
  text-decoration: underline; 
  cursor: pointer;         
  font-size: inherit;      
  font-family: inherit;    
}

.TextBtn:hover {
  color: #0B0080;          
}

.TextBtn:active {
  color: #041E42;          
}

.TextBtn:focus {
  outline: 1px dotted #0645AD; 
  outline-offset: 2px;
}
